body{
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}

/*Cambiar las propiedades color y hover de acuerdo a la paleta de colores.*/
.contenedor{
    padding: 0px 40px;
}
.contenedor label{
    font-size: 20px;
    font-weight: 700;
}
.label-success{
    font-size: 20px;
    color: #12b12e;
    display: block;
    margin: 10px 0px;
}
.label-error{
    font-size: 20px;
    color: #b11100;
    display: block;
    margin: 10px 0px;
}
.form__h1{
    font-weight: bolder;
}
.contenedor__number input{
    font-weight: bolder;
    width: 240px;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    outline-color: #ff3c00;
    display: inline-block;
    margin: 10px 2px;
}
.contenedor__textarea{
    outline-color: #ff3c00;
    font-size: 20px;
    width: 300px;
    display: block;
    margin: 10px 0px;
    border-width: 2px;
    border-radius: 5px;
    font-weight: bolder;
    resize: none;

}
.contenedor__input{
    outline-color: #ff3c00;
    width: 300px;
    padding: 20px;
    height: 20px;
    margin: 10px 0px;
    display: block;
    border-radius: 5px;
    font-weight: bolder;
}
.contenedor__file{
    outline: none;
    margin: 10px 0px;
    display: block;
}
.contenedor__file::file-selector-button{
    width: 300px;
    height: 25px;
    margin: 10px 0px;
    display: block;
    border-radius: 20px;
    background-color: white;
    color: black;
    font-size: 15px;
    border: 1px solid black;
    transition: all .5s;
}
.contenedor__file::file-selector-button:hover{
    color: white;
    font-weight: bolder;
    background-color:#ff3c00;
    border: none;
    cursor: pointer;
}

.contenedor__date{
    outline-color: #ff3c00;
    font-weight: bolder;
    display: block;
    margin: 10px 0px;
    width: 300px;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;

}

.contenedor__submit{
    outline: none;
    width: 210px;
    height: 30px;
    margin: 10px 0px;
    border-width: 3px;
    border-color: #ff3c00;
    border-radius: 20px;
    background-color: white;
    font-weight: bolder;
    transition: all .5s;
}

.contenedor__submit:hover{
    color: white;
    width: 310px;
    border: none;
    background-color:#ff3c00;
    cursor: pointer;
}
.contenedor__select{
    width: 300px;
    margin: 10px 0px;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    position: relative;
    display: block;
    outline-color: #ff3c00;
    border-radius: 5px;
}


