
.contenedor__paquete{
    display: inline-block;
    margin: 5px 10px;
    border: 2px solid #d00000;
    width: 300px;
    height: 600px;
    padding: 20px;
    border-radius: 10px;
}
.contenedor__paquete h1{
    text-align: center;
    margin-bottom: 10px;
}

.contenedor-icono{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: 4px solid black;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    transition: all .75s;
    margin-bottom: 20px;
}
.contenedor-icono span{
    font-size: 45px;
    position: absolute;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.button__actualizar{
    text-align: center;
    color: black;
    display: block;
    margin: 10px auto;
    width: 100px;
    text-decoration: none;
    background-color:white;
    border: 2px solid hsl(236, 100%, 50%);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
}
.button__eliminar{
    text-align: center;
    color: black;
    display: block;
    margin: 10px auto;
    width: 100px;
    text-decoration: none;
    background-color:white;
    border: 2px solid #ff3c00;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
}
.button__actualizar:hover{
    background-color:hsl(236, 100%, 50%); ;
    width: 110px;
    color: white;
    cursor: pointer;
}
.button__eliminar:hover{
    background-color:#ff3c00;
    width: 110px;
    color: white;
    cursor: pointer;
}
.contenedor__ventana-confirmar{
    width: 40%;
    height: 30%;
    border: 2px solid #ff3c00;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    background-color: white;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    padding: 30px;
}
ventana-emergente__h1-texto{
    font-weight: bolder;
    color: #F7B556;
    font-size: 34px;
}
.contenedor__ventana-confirmar button{
    color: black;
    margin: 10px 10px;
    width: 100px;
    background-color:white;
    border: 2px solid black;
    font-weight: bolder;
    border-radius: 10px;
    font-size: 15px;
    transition: all .5s;
}
.contenedor__ventana-confirmar button:hover{
    width: 110px;
    background-color: #ff3c00;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: white;
}





