*{
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
    ),
        /* bottom, image */
    url("http://1.bp.blogspot.com/-01ioXihy6E8/Tg3rb0aalrI/AAAAAAAAGDQ/lutECLPnSEo/s1600/pelis%2Bjunio%2B2011.jpg"););
}

header{
    background-color: rgba(0,0,0,.99);
    position: fixed;
    top: 0;
    left: 0;
    width: 13%;
    height: 60px;
}

a{
    text-decoration: none;
    color: white;
    background-color: transparent;
    padding: 5px;
    display: inline-block;
}

a:hover{
    text-decoration: underline;
}

.div-navbar-nav{
    display: flex;
    justify-content: space-between;
}
.div-navbar-nav-logo{
    margin: 10px 15px;
    fill: white;
}
.contenedor{
    text-align: center;
    border: 1px solid black;
}

.contenedor{
    background-color: rgba(0,0,0,.70);
    border: 2px solid black;
    height: 450px;
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: white;
    border-radius: 10px;
    transition: .5s;
}
.contenedor__titulo{
    font-weight: 800;
    margin-bottom: 100px;
    color: white;
}
.contenedor input[type="text"], .contenedor input[type="password"]{
    background: none;
    margin: 20px auto;
    text-align: center;
    width: 70%;
    display: block;
    padding: 10px;
    border: 2px solid #d00000;
    border-radius: 25px;
    outline: none;
    color: white;
    transition: .2s;
}

.contenedor input[type="text"]::placeholder{
    background: none;
    color: white;
}

.contenedor input[type="password"]::placeholder{
    background: none;
    color: white;
}
.contenedor input[type="text"]:focus, .contenedor input[type="password"]:focus{
    width: 85%;
    transition: all 0.2s;
}

.contenedor input[type="submit"]{
    background: none;
    margin: 20px auto;
    text-align: center;
    display: block;
    padding: 10px 40px;
    border: 2px solid #d00000;
    border-radius: 25px;
    outline: none;
    color: white;
    transition: .25s;
    cursor: pointer;
    width: 55%;
}
.contenedor input[type="submit"]:hover{
    background-color: #d00000;
    width: 70%;
    color: white;
    transition: all 0.2s;
}



