.container__titulo-pelicula{
    font-size: 50px;
    font-weight: 600;
    margin: 20px;
}
.caja-video{
    width: 100%;
    height: 500px;
    background-color: black;
    position: relative;
}
.caja-video span{
    color: white;
    font-size: 40px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-45%);
    margin: auto;

}
.progress{
    width: 100%;
    position: relative;
    height: 5px;
    background-color: #f0f0f0;
}
.container__descripcion-titulo{
    font-size: 40px;
    margin: 10px;
}
.container__descripcion{
    font-size: 20px;
}

