body{
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}
header{
    background-color: #d00000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}
.div-navbar-nav{
    display: flex;
    justify-content: space-between;
}
.div-navbar-nav-logo{
    margin: 10px 15px;
}
.contenedor-paquetes{
    text-align: center;
}

.contenedor__titulo{
    margin-top: 59px;
    font-weight: bold;
}

.contenedor__paquete{
    width: 300px;
    height: 500px;
    border: 2px solid #d00000;
    margin: 60px 50px;
    display: inline-block;
    border-radius: 10px;
    transition: .50s;
}
.contenedor__paquete h1{
    margin-top: 10px;
}
.contenedor-icono{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border: 4px solid black;
    height: 100px;
    width: 100px;
    border-radius: 10px;
    text-align: center;
    transition: all .75s;
}
.contenedor-icono span{
    font-size: 45px;
    position: absolute;
    font-weight: 500;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.contenedor__paquete p{
    margin: 20px 30px;
    text-align: justify;
}
.contenedor__paquete a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bolder;
    color: #000;
    margin: 20px 20px;
    transition: .5s;
}
.contenedor__paquete a:hover{
    font-size:18px;
    text-decoration: underline;
    color: #fff;
    cursor: pointer;
}
.contenedor__paquete:hover{
    border: none;
    background-color: #d00000;
    color: white;

}
.contenedor__paquete:hover > .contenedor-icono{
    border: none;
    color: white;
}
.contenedor__paquete:hover > .contenedor-icono span{
    font-size: 60px;
}
.p__precio{
    position: relative;
    left: 68%;
    transform: translate(-50%);
    text-align: center;
    font-size: 30px;
}

/*  Elementos ya seleccionados  */

.contenedor__paquete-seleccionado{
    width: 300px;
    height: 500px;
    border: 2px solid #d00000;
    margin: 60px 50px;
    display: inline-block;
    border-radius: 10px;
    transition: .50s;
}


