*{
    padding: 0;
    margin: 0;
}
body{

    background-color: black;
    background: linear-gradient(rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.6)
    ),
        /* bottom, image */
    url("http://1.bp.blogspot.com/-01ioXihy6E8/Tg3rb0aalrI/AAAAAAAAGDQ/lutECLPnSEo/s1600/pelis%2Bjunio%2B2011.jpg");

}

header{
    background-color: #d00000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
}
.label-error{
    color: rgb(255,0,0);
}

.div-navbar-nav{
    display: flex;
    justify-content: space-between;
}
.div-navbar-nav a{
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: #F7B556 outset 1px;
    padding: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    display: inline-block;
    margin: 10px 20px;
    border-radius: 5px;
}
.div-navbar-nav a:hover{
    font-size: 30px;
    text-decoration: underline;
    border-radius: 8px;
    transition: all 0.5s;
}
.div-navbar-nav-logo{
    margin: 10px 15px;
    height: 30px;
}
.contenedor{

    margin: 80px 15px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.contenedor-correo{
    margin-top: 20px;
}
.contenedor-titulo{
    display: inline-block;
    background-color: transparent;

    color: white;
    margin-top: 240px;
    font-size: 40px;
    border-radius: 4px;
}
.contenedor-correo p{
    background-color: transparent;
    color: white;
    font-size: 40px;
    display: inline-block;
}
.contenedor-correo input{
    width: 30%;
    height: 35px;
    font-size: 20px;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 4px;
}
.contenedor-correo input:hover{
    border: 2px solid #F1A34A;
}
.contenedor-correo button{
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    width: 10%;
    height: 40px;
    font-size: 20px;
    background-color: white;
    border-radius: 4px;
    border: 2px solid #d00000;
}
.contenedor-correo button:hover{
    color: white;
    background-color:  #d00000;
    cursor: pointer;

}



