
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

.container-checkout{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    box-sizing: border-box;
    --card-color: #ce2929;
    --text-color: #e1e1e1;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 680px;
}

  .col1{
    perspective: 1000;
    transform-style: preserve-3d;
  }
    .card{
      position: relative;
      width: 420px;
      height: 250px;
      margin-bottom: 85px;
      margin-right: 10px;
      border-radius: 17px;
      box-shadow: 0 5px 20px -5px rgba(0,0,0,0.1);
      transition: all 1s;
      transform-style: preserve-3d;
    }
      .front{
        position: absolute;
        background: var(--card-color);
        border-radius: 17px;
        padding: 50px;
        width: 100%;
        height: 100%;
        transform: translateZ(1px);
        -webkit-transform: translateZ(1px);
        transition: background 0.3s;
        z-index: 50;
        background-image: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0) 1px, rgba(255, 255, 255, 0.03) 2px, rgba(255, 255, 255, 0.04) 3px, rgba(255, 255, 255, 0.05) 4px), -webkit-linear-gradient(-245deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.2) 70%, rgba(255, 255, 255, 0) 90%);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;
      }
        .type{
          position: absolute;
          width: 75px;
          height: 45px;
          top: 20px;
          right: 20px;
        }
          .container-checkout img{
            float: right;
          }

        .card_number{
          position: absolute;
          font-size: 26px;
          font-weight: 500;
          letter-spacing: -1px;
          top: 110px;
          color: var(--text-color);
          word-spacing: 3px;
          transition: color 0.5s;

         }
        .date{
          position: absolute;
          bottom: 40px;
          right: 55px;
          width: 90px;
          height: 35px;
          color: var(--text-color);
          transition: color 0.5s;
        }
          .date_value{
            font-size: 12px;
            position: absolute;
            margin-left: 25px;
            margin-top: 15px;
            color: var(--text-color);
            font-weight: 500;
            transition: color 0.5s;
          }

          .after{
            content: 'MONTH / YEAR';
            position: absolute;
            display: block;
            font-size: 7px;
            margin-left: 20px;
          }
          .before{
            content: 'valid \a thru';
            position: absolute;
            display: block;
            font-size: 8px;
            white-space: pre;
            margin-top: 8px;
          }

        .fullname{
          position: absolute;
          font-size: 20px;
          bottom: 20px;
          color: var(--text-color);
          transition: color 0.5s;
        }

      .back{
        position: absolute;
        width: 100%;
        border-radius: 17px;
        height: 100%;
        background: var(--card-color);
        transform: rotateY(180deg);
      }
        .magnetic{
          position: absolute;
          width: 100%;
          height: 50px;
          background: rgba(0,0,0,0.7);
          margin-top: 25px;
        }

        .bar{
          position: absolute;
          width: 80%;
          height: 37px;
          background: rgba(255,255,255,0.7);
          left: 10px;
          margin-top: 100px;
        }

        .seccode{
          font-size: 13px;
          color: var(--text-color);
          font-weight: 500;
          position: absolute;
          top: 100px;
          right: 40px;
        }

        .chip{
          bottom: 45px;
          left: 10px;
        }

        .disclaimer{
          position: absolute;
          width: 65%;
          left: 80px;
          color: #f1f1f1;
          font-size: 8px;
          bottom: 55px;
        }


    .container-checkout input{

      width: 260px;
      height: 30px;
      padding-left: 10px;
      padding-top: 3px;
      padding-bottom: 3px;
      margin: 7px;
      font-size: 17px;
      bottom: auto;
    }



      .focus{
        outline-width: 0;
        background: rgba(31,134,252, 0.15);
        transition: background 0.5s;
      }


    .container-checkout label{
      padding-left: 8px;
      font-size: 15px;
      color: #444;
    }

    .ccv{
      width: 40%;
    }

    .buy  {
      width: 260px;
      height: 30px;
      position: relative;
      display: block;
      margin: 20px auto;
      border-radius: 10px;
      border: #d00000 outset 1px;
      background: #fff;
      cursor:pointer;
      color: black;
      font-size: 20px;

    }

    .buy:hover{
        color: white;
        background-color: #d00000;
        cursor: pointer;
    }

.chip{
  position: absolute;
  width: 55px;
  height: 40px;
  background: #bbb;
  border-radius: 7px;
}

  .after{
    content: '';
    display: block;
    width: 35px;
    height: 25px;
    border-radius: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ddd;
  }
