body{
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
}
.contenedor{
    /*border: 2px dashed black;*/
}
.contenedor__pelicula{
    display: inline-block;
    margin: 5px 10px;
    border: 2px solid black;
    width: 300px;
    height: 500px;
    text-align: center;
    border-radius: 10px;
}
.contenedor__titulo{
    text-align: center;
    font-size: 25px;
}
.contenedor__img{
    outline: none;
    border: 1px solid black;
    border-radius: 20px;
    width: 125px;
    height: 125px;
    margin: 5px 50px;
}
.contenedor__pelicula p{
    font-size: 15px;
    font-weight: 700;
}
.contenedor__descripcion{
    margin: 0px 10px;
}

.button__actualizar{
    color: black;
    display: block;
    margin: 10px auto;
    width: 100px;
    text-decoration: none;
    background-color:white;
    border: 2px solid hsl(236, 100%, 50%);
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
}
.button__eliminar{
    color: black;
    display: block;
    margin: 10px auto;
    width: 100px;
    text-decoration: none;
    background-color:white;
    border: 2px solid #ff3c00;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bolder;
}
.button__actualizar:hover{
    background-color:hsl(236, 100%, 50%); ;
    width: 110px;
    color: white;
    cursor: pointer;
}
.button__eliminar:hover{
    background-color:#ff3c00;
    width: 110px;
    color: white;
    cursor: pointer;
}
.contenedor__ventana-confirmar{
    width: 40%;
    height: 30%;
    border: 2px solid #ff3c00;
    border-radius: 10px;
    position: absolute;
    text-align: center;
    background-color: white;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
    padding: 30px;
}
ventana-emergente__h1-texto{
    font-weight: bolder;
    color: #F7B556;
    font-size: 34px;
}
.contenedor__ventana-confirmar button{
    color: black;
    margin: 10px 10px;
    width: 100px;
    background-color:white;
    border: 2px solid black;
    font-weight: bolder;
    border-radius: 10px;
    font-size: 15px;
    transition: all .5s;
}
.contenedor__ventana-confirmar button:hover{
    width: 110px;
    background-color: #ff3c00;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: white;
}

