div.pelicula__img:hover img{
    opacity: 0.2;
}
/* estilos contenedor-lista */

.contenedor-lista{
    list-style: none;
    flex-wrap: wrap;
    display: flex;
}
.contenedor-lista li{
    margin: 5px;
    width: 200px;
}
.pelicula__img{
    width: 200px;
    height: 109px;
    object-fit: cover;
}
.contenedor-lista__nombre-pelicula{
    padding: 10px 0;
}
.contenedor-lista__pelicula{
    position: relative;
}
.contenedor-lista__pelicula .pelicula__img{
    display: block;
}
.pelicula__duracion{
    position: absolute;
    z-index: 2;
    right: 3px;
    bottom: 3px;
    padding: 2px 5px;
    background-color: rgba(0,0,0,0.74);
    color: #fff;
}
.contenedor-lista__pelicula .pelicula__boton-play{
    opacity: 0;
    position: absolute;
    z-index: 1;
    top: 0;
    width: 200px;
    height: 109px;
    background: rgba(0,0,0,0.6);
}
.pelicula__boton-play .botton-play__img{
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    color: white;
}
.contenedor-lista .contenedor-lista__pelicula:hover .pelicula__boton-play{
    opacity: 1;
}


